.header {
    background-color: #FFD700; /* Doré */
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Légère ombre */
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .logo {
    font-size: 1.8rem;
    font-weight: bold;
    color: #ffffff;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li button {
    background: none;
    border: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
  }
  
  .nav-links li button:hover {
    color: #333;
    transform: scale(1.1);
  }
  